In [27]:
import pandas as pd
import numpy as np
from scipy import stats
x = [0,1,-1,-1,-1]
y = [0,-1,1,1,0]

In [9]:
series_x = pd.Series(x)

In [10]:
series_y = pd.Series(y)

In [11]:
df = pd.concat([series_x, series_y], name = 'x'axis=1)

In [12]:
df.head()

   0  1
0  0  0
1  1 -1
2 -1  1
3 -1  1
4 -1  0

In [13]:
df.corr()

          0         1
0  1.000000 -0.868599
1 -0.868599  1.000000

In [14]:
sample_size = 5

In [17]:
np.mean(x)

-0.4

In [18]:
np.mean(y)

0.2

In [21]:
control = np.array([0,1,-1,-1,-1])
experimental  = np.array([0,-1,1,1,0])

In [22]:
control.mean()
experimental.mean()
experimental.mean() - control.mean()

0.6000000000000001

In [23]:
def sample_variance(sample):
    sample_mean = np.mean(sample)
    return np.sum((sample - sample_mean) **2)/ (len(sample) -1)

In [24]:
def pooled_variance(sample1, sample2):
    n_1, n_2 = len(sample1), len(sample2)
    var_1, var_2 = sample_variance(sample1), sample_variance(sample2)
    return ((n_1-1) * var_1 + (n_2-1)* var_2)/((n_1 + n_2)-2)

In [25]:
def twosample_tstatistic(expr, ctrl):
    exp_mean, ctrl_mean = np.mean(expr), np.mean(ctrl)
    pool_var = pooled_variance(expr, ctrl)
    n_e, n_c = len(expr), len(ctrl)
    num = exp_mean - ctrl_mean
    denom = np.sqrt(pool_var * ((1/n_e)+(1/n_c)))
    return num / denom

t_stat = twosample_tstatistic(experimental, control)
t_stat

1.0954451150103321

In [28]:
## Calculate p_value
# Lower tail comulative density function returns area under the lower tail curve
lower_tail = stats.t.cdf(-1.89, (50+50-2), 0, 1)
# Upper tail comulative density function returns area under upper tail curve
upper_tail = 1. - stats.t.cdf(1.89, (50+50-2), 0, 1)

p_value = lower_tail+upper_tail
print(p_value)

0.061713104303855494